#campsite-left-column {
  width: 33vw;
  float: left;
  height: 95vh;
  margin-top: 3em;
}

#map-zoomed {
  width: 30vw;
  height: 33vh;
  position: relative;
}

#campsite-img {
  margin-top: 5vh;
  max-width: 30vw;
  position: relative;
}

#campsite-right-column {
  margin-top: 3em;
  height: auto;
  width: 59vw;
  float: right;
  margin-left: 3vw;
}

#campsite-right-column-title {
  text-align: center;
  font-size: 4em;
}

#campsite-details {
  margin: auto;
}

#campsite-details-user-description {
  display: block;
}

#campsite-details-list-container {
  margin: auto;

}

.star {
  cursor: pointer;
}

#campsite-rating span {
  display: inline;
  margin: 0 auto;
}

#campsite-rating .checked {
  color: orangered;
}

ul {
  list-style: none;
}
ul li::before {
  content: "";
  background-image: url(../images/favicon.png);
  background-size: contain;
  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;
  top: 0.1rem;
  margin-right: 0.5rem;
}
