#profile-img {
  margin-top: 5vh;
  width: auto;
  max-width: 30vw;
  max-height: 30vh;
  padding: 0.26%;
  border: #000000;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  margin: auto;
  display: block;
}


#profile-right-column {
  height: auto;
  width: 59vw;
  float: right;
  margin: auto;
  margin-top: 3em;
}

#profile-details {
  margin-top: 5vh;
}

ul {
  list-style: none;
}
ul li::before {
  content: "";
  background-image: url(../images/favicon.png);
  background-size: contain;
  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;
  top: 0.1rem;
  margin-right: 0.5rem;
}
