#profile-img {
  margin-top: 5vh;
  width: 30vw;
  max-width: 30vw;
  max-height: 30vh;
  float: left;
}

#profile-right-column {
  margin-top: 3em;
  height: auto;
  width: 59vw;
  float: right;
  margin-left: 3vw;
}

#profile-details {
  margin-top: 5vh;
}

ul {
  list-style: none;
}
ul li::before {
  content: "";
  background-image: url(../images/favicon.png);
  background-size: contain;
  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;
  top: 0.1rem;
  margin-right: 0.5rem;
}
