{% extends "base.html" %}
{% block title %}Add New Campsite{% endblock %}
{% block content %}

<div id="home-main-content">
    <link rel="stylesheet" href="/static/styles/add_site.css">
    {% if user.is_authenticated %}
    <form class="form-container" enctype="multipart/form-data" method="POST">
        <div class="form-group">
            <label for="name">Campsite Name</label>
            <input type="text" placeholder="Enter campsite name" name="name" required>
        </div>

        <div class="form-group">
            <label for="latitude">Latitude</label>
            <input type="text" placeholder="Enter Latitude" name="latitude" value="{{lat}}" required>
        </div>

        <div class="form-group">
            <label for="longitude">Longitude</label>
            <input type="text" placeholder="Enter Longitude" name="longitude" value="{{lon}}" required>
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <textarea name="description" placeholder="Enter Description" rows="4"></textarea>
        </div>

        <div class="form-group">
            <label for="campingStyle">How did you camp?</label>
            <select name="campingStyle" id="campingStyle">
                <option value="Tent">Tent</option>
                <option value="Bivy">Bivy</option>
                <option value="Hammock">Hammock</option>
                <option value="Bushcraft">Bushcraft</option>
                <option value="Car">Car</option>
                <option value="RV">RV</option>
                <option value="Trailer">Trailer</option>
                <option value="Offroad">Offroad</option>
                <option value="Cabin">Cabin</option>
                <option value="Yurt">Yurt</option>
                <option value="Lean-to">Lean-to</option>
            </select>
        </div>

        <div class="checkbox-group">
            <input type="checkbox" id="potable" name="potable">
            <label for="potable">Has potable water access (well, fountain, etc.)</label>
        </div>

        <div class="checkbox-group">
            <input type="checkbox" id="firePit" name="firePit">
            <label for="firePit">Has fire pit</label>
        </div>

        <div class="checkbox-group">
            <input type="checkbox" id="electrical" name="electrical">
            <label for="electrical">Has electrical connections</label>
        </div>

        <div class="checkbox-group">
            <input type="checkbox" id="permitReq" name="permitReq">
            <label for="permitReq">Permit required</label>
        </div>

        <div class="checkbox-group">
            <input type="checkbox" id="backcountry" name="backcountry">
            <label for="backcountry">Backcountry site (not road accessible)</label>
        </div>

        <div class="form-group">
            <label for="photo">Photo</label>
            <input type="file" name="photo" id="photo" accept="image/*">
        </div>

        <div class="form-group">
            <label for="campsiteList">Add to list</label>
            <select id="campsiteList" name="campsiteList">
                <option value="None">None</option>
                {% for campsite in campsiteLists %}
                <option value="{{ campsite.id }}">{{ campsite.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="submit-form">
            <button type="submit">Add Campsite</button>
        </div>
    </form>
    {% else %}
    <div class="auth-message">
        <h1>You must <a href="/sign-up">sign in</a> to add a campsite.</h1>
    </div>
    {% endif %}
</div>

{% endblock %}