{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}

<link rel="stylesheet" href="static/styles/add-site.css">

<div id="home-main-content">
    {% if user.is_authenticated %}
    <!-- New campsite form-->
    <form class="form-container" enctype="multipart/form-data" method="POST">

        <div>
            <label for="name"><b>Campsite Name</b></label>
            <input type="text" placeholder="Enter campsite name" name="name"
                required>
        </div>

        <div>
            <label for="latitude"><b>Latitude</b></label>
            <input type="text" placeholder="Enter Latitude" name="latitude" value="{{lat}}"
                required>
        </div>

        <div>
            <label for="longitude"><b>Longitude</b></label>
            <input type="text" placeholder="Enter Longitude" name="longitude" value="{{lon}}"
                required>
        </div>

        <div>
            <label for="description"><b>Description</b></label>
            <input type="text" placeholder="Enter Description"
                name="description">
        </div>

        <div id="dropdown">
            <label for="campingStyle" style="font-weight:bold">How did you camp?</label>
            <select name="campingStyle" id="campingStyle">
                <option value="tent">Tent</option>
                <option value="bivy">Bivy</option>
                <option value="hammock">Hammock</option>
                <option value="bushcraft">Bushcraft</option>
                <option value="car">Car</option>
                <option value="rv">RV</option>
                <option value="trailer">Trailer</option>
                <option value="offroad">Offroad</option>
                <option value="cabin">Cabin</option>
                <option value="yurt">Yurt</option>
                <option value="leanto">Lean-to</option>
            </select>
        </div>

        <div>
            <label for="potable" class="checkbox"><b>Has potable water
                    access (well, fountain, etc.) </b></label>
            <input type="checkbox" placeholder="Potable Water" name="potable">
        </div>

        <div>
            <label for="firePit" class="checkbox"><b>Has fire pit </b></label>
            <input type="checkbox" placeholder="Firepit" name="firePit">
        </div>

        <div>
            <label for="electrical" class="checkbox"><b>Has electrical
                    connections</b></label>
            <input type="checkbox" placeholder="Electrical Connections"
                name="electrical">
        </div>

        <div>
            <label for="permitReq" class="checkbox"><b>Permit required</b></label>
            <input type="checkbox" placeholder="Permit Required"
                name="permitReq">
        </div>

        <div>
            <label for="backcountry" class="checkbox"><b>Backcountry site (not
                    road accessible)</b></label>
            <input type="checkbox" placeholder="Backcountry"
                name="backcountry">
        </div>

        <div>
            <label for="photos"><b>Photo</b></label>
            <input type="file" placeholder="photo" name="photo">
        </div>

        <div>
        <label for="campsiteList"><b>Add to list:</b></label>
            <select id="campsiteList" name="campsiteList">
                {% for campsite in campsiteLists %}
                <option value="{{ campsite.id }}">{{ campsite.name }}</option>
                {% endfor %}
            </select><br><br>
        </div>

        <div class="submit-form">
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
{% else %}

<h1 align="center">You must <a href="/sign-up">sign in to add a campsite.</a></h1>
{% endif %}

{% endblock %}