{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}

<link rel="stylesheet" href="static/styles/add-site.css">

<div id="home-main-content">
    {% if user.is_authenticated %}
    <!-- New campsite form-->
    <div class="form-popup" id="new_campsite_form">
        <form class="form-container" enctype="multipart/form-data" method="POST">

            <label for="name"><b>Campsite Name</b></label>
            <input type="text" placeholder="Enter campsite name" name="name"
                required>

            <label for="latitude"><b>Latitude</b></label>
            <input type="text" placeholder="Enter Latitude" name="latitude"
                required>

            <label for="longitude"><b>Longitude</b></label>
            <input type="text" placeholder="Enter Longitude" name="longitude"
                required>

            <label for="description"><b>Description</b></label>
            <input type="text" rows ="5" placeholder="Enter Description" name="description">

            <label for="potable"><b>Is there potable water access?</b></label>
            <input type="checkbox" placeholder="Potable Water" name="potable">

            <label for="electrical"><b>Are there electrical outlets?</b></label>
            <input type="checkbox" placeholder="Electrical Connections"
                name="electrical">

            <label for="photos"><b>Photos</b></label>
            <input type="file" placeholder="photo" name="photo">


            <button type="submit" class="btn">Submit</button>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>

    </div>

    {% endif %}

    

    {% endblock %}

</div>
