{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
<!--
    This is only needed for the note funcitonality.  
<h1 align="center">Notes</h1>
<ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item">
        {{ note.data }}
        <button type="button" class="close" onClick="deleteNote({{ note.id }})">
            <span aria-hidden="true">&times;</span>
        </button>
    </li>
    {% endfor %}
</ul>
<form method="POST">
    <textarea name="note" id="note" class="form-control"></textarea>
    <br />
    <div align="center">
        <button type="submit" class="btn btn-primary">Add Note</button>
    </div>
</form> -->

<!-- A button to open the new campsite popup form -->
<button class="open-button" onclick="openForm()">Add Campsite</button>

<!-- New campsite form -->
<div class="form-popup" id="new_campsite_form">
  <form class="form-container" method="POST">

    <label for="latitude"><b>Latitude</b></label>
    <input type="text" placeholder="Enter Latitude" name="latitude" required>

    <label for="longitude"><b>Longitude</b></label>
    <input type="text" placeholder="Enter Longitude" name="longitude" required>

    <label for="potable"><b>Is there potable water access?</b></label>
    <input type="checkbox" placeholder="Potable Water" name="potable">

    <label for="electrical"><b>Are there electrical outlets?</b></label>
    <input type="checkbox" placeholder="Electrical Connections" name="electrical">

    <label for="visibility"><b>Hide site from other users</b></label>
    <input type="checkbox" placeholder="Visibility" name="visibility">

    <!-- Add a drop down that displays lists from the logged in user to save the new campsite too.
    Use Jinja to display options, which are stored in the database.
    -->

    <button type="submit" class="btn">Submit</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div>

<link rel="stylesheet"
    href="{{ url_for('static', filename='styles/map.css') }}" />
<link rel="stylesheet"
    href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin></script>
<div align="center" id="map"></div>
<script src="{{ url_for('static', filename='script/map.js') }}"></script>

{% endblock %}
