{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
<body>
    <link rel="stylesheet" href="/static/styles/mylists.css">


        <a href="/view-lists">
            <button type="view-lists" class="btn btn-primary">View Lists</button>
        </a>

        <a href="/create-list">
            <button type="create-list" class="btn btn-primary">Create List</button>
        </a>

        <a href="/modify-list">
            <button type="modify-list" class="btn btn-primary">Modify List</button>
        </a>


    </div>
</body>

{% endblock %}
