{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
<body>
    <link rel="stylesheet" href="/static/styles/profile.css">
        {% if placeholderFlag %}
        <div id="profile-img-container">
            <img id="profile-img"
                src="{{ url_for('static', filename='images/profiles/' + photoPath)}}" />
        </div>

        {% else %}
        <div id="profile-img-container">
            <img id="profile-img"
                src="{{ url_for('static', filename='images/profile_placeholder.svg')}}" />
        </div>

        {% endif %}


        <aside id="profile-right-column">
            <h1 id="profileNameTopHeading" class="userProfileName">
                Welcome to {{ user.first_name }}'s profile
            </h1>

            <div id="profile-details">
                <h3>About {{user.firstname}}</h3>
                
                <ul>
                    <li>Favorite activities: {{user.activities}}</li>
                    <li>Location: {{user.location}}</li>
                    <li>Age: {{user.age}}</li>
                </ul>
            </div>
        </aside>

    </div>
</body>

{% endblock %}
